body{
    font-family: Verdana;
    color: rgb(6, 1, 1);
    letter-spacing: 1px;
}
h1, h2{
    font-weight: normal;
}
#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: solid #030202;
    background-color: #F1E6AC;

}

#page-banner{
    background: #030da0 ;
    padding: 10px 0;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #e90d41;
    border-radius: 4px;
    font-size: 16px;
    color: #e90d41;
}
#book-list, #add-activity, #tabbed-content{
    margin: 30px;
}

#activity-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#activity-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#activity-list li:hover{
    border-color: #f60707;
}
